/*This is my 318 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- Hello, my name is Zara Iqbal and this is the beginning of my CONTACT PAGE CSS for 201 Digital Publishing System 2020 ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: linear-gradient(to bottom, #65c7ff 50%, #7b76ee 100%);	
  background-attachment: fixed;
}

.center {
    width: 1000px;
	padding: 2%;
    margin: 100px auto;
    align-content: center;
}

#navRect {
    border-radius: 15px;
    background: #65c7ff;
    padding: 20px;
    width: 310px;
    height: 190px;
    opacity: 0.65;
}

.blueBox{
    position: absolute;
    top: 630px;
    left: 320px;
}


/* this containter/div used to contain logo, blinking text + navigation and center it on the 3ds
position is relative for screen resizing 
*/
.container{
    position: relative;
    top: 0;
    left: 0;
}

/*
contains the 3ds image bc original is way too big
*/
.console {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

/* 
stuff on top of 3ds (logo, text etc.) are positioned to be absolute so they don't leave the 3ds/containter div 
*/
.logo {
   position: absolute;
    top: 155px;
    left: 385px;
}

/*
in html, the p calls this class for text positioning 
*/
.textLogo{
    position: absolute;
    top: 415px;
    left: 265px;
}

/*
contains the nav bar
*/
.navBar{
    position: absolute;
    top: 575px;
    left: 385px;
}


p {
    font-family: lores-9-plus-narrow,sans-serif;
    font-weight: 700;
    font-style: normal;
	font-size: 1.5em;
    line-height: 1.36;
    color: #bc278d;
    text-align: center;
}

/* 
animated text under logo so it blinks to make it more like a 3ds
(second class p calls)
*/
.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #bc278d;    }
    49%{    color: #bc278d; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #bc278d;    }
}

nav{
    font-family: lores-9-plus-narrow,sans-serif;
    font-weight: 700;
    font-style: normal;
	font-size: 2.2em;
    line-height: 1.36;
    width: 220px; 
    height: 100px;
    margin: 0 auto;
    text-align: left;
    margin-top: 2em;
}

nav li{
    display: inline;
}

nav a{
    display: inline-block;
    padding: 10px;
}

a{
    color: #2b277e;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #f9bc5c;
}


/* 
triangle hover effect: first copied code for triangle and resized/placed so that it aligns with the nav bar.
#triangle-right and .hide class is called by same div in html --> triangle @ default is invisible/hidden
.visible class is called in div that has the text --> when cursor hovers over said text, it is displayed
created new triangle ids + hide/visible classes for each triangle (three)
*/
#triangle-right {
    position: absolute;
    top: 88px;
    left: -25px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 30px solid #f9bc5c;
    border-bottom: 15px solid transparent;
    }

.hide{
    display: none;
}

.visible:hover + .hide{
    display: block;
}


#triangle-right2 {
    position: absolute;
    top: 153px;
    left: -25px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 30px solid #f9bc5c;
    border-bottom: 15px solid transparent;
    }


.visible2:hover + .hide{
    display: block;
}


#triangle-right3 {
    position: absolute;
    top: 223px;
    left: -25px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 30px solid #f9bc5c;
    border-bottom: 15px solid transparent;
    }


.visible3:hover + .hide{
    display: block;
}
