/*This is my 318 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- Hello, my name is Zara Iqbal and this is the beginning of my CONTACT PAGE CSS for 318 Digital Typography November 2019 ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url(images/pinkBkg.jpg)
    center center fixed no-repeat;
  background-size: cover;
	
	
}

.center {
    width: 1000px;
	padding: 2%;
    margin: 100px auto;
    align-content: center;
}

#navRect {
    border-radius: 15px;
    background: #65c7ff;
    padding: 20px;
    width: 310px;
    height: 190px;
    opacity: 0.65;
}

.blueBox{
    position: absolute;
    top: 630px;
    left: 320px;
}

.container{
    position: relative;
    top: 0;
    left: 0;
}

.console {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.logo {
   position: absolute;
    top: 150px;
    left: 365px;
}

.textLogo{
    position: absolute;
    top: 415px;
    left: 265px;
}

.navBar{
    position: absolute;
    top: 575px;
    left: 385px;
}


p {
    font-family: lores-9-plus-narrow,sans-serif;
    font-weight: 700;
    font-style: normal;
	font-size: 1.5em;
    line-height: 1.36;
    color: #bc278d;
    text-align: center;
}

nav{
    font-family: lores-9-plus-narrow,sans-serif;
    font-weight: 700;
    font-style: normal;
	font-size: 2.2em;
    line-height: 1.36;
    width: 400px;
    height: 100px;
    margin: 0 auto;
    text-align: left;
    margin-top: 2em;
}

nav li{
    display: inline;
}

nav a{
    display: inline-block;
    padding: 10px;
}

a{
    color: #2b277e;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #f9bc5c;
}


#triangle-right {
    position: absolute;
    top: 88px;
    left: -25px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 30px solid #f9bc5c;
    border-bottom: 15px solid transparent;
    }

.hide{
    display: none;
}

.visible:hover + .hide{
    display: block;
}


#triangle-right2 {
    position: absolute;
    top: 153px;
    left: -25px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 30px solid #f9bc5c;
    border-bottom: 15px solid transparent;
    }


.visible2:hover + .hide{
    display: block;
}


#triangle-right3 {
    position: absolute;
    top: 223px;
    left: -25px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 30px solid #f9bc5c;
    border-bottom: 15px solid transparent;
    }


.visible3:hover + .hide{
    display: block;
}







/** VISIBILITY HOVER W TRIANGLE; TRIED: A:HOVER + ID + DISPLAY
#f9e0b8
VISIBILITY HOVER W HEART; TRIED: WORK (NEW CLASS): HOVER + ID/CLASS + DISPLAY/OPACITY
    

#heart1 {
      position: relative;
      width: 100px;
      height: 40px;
    
    }
    #heart1:before,
    #heart1:after {
      position: absolute;
      content: "";
      left: 356px;
      top: -426px;
      width: 25px;
      height: 40px;
      background: #7b76ee;
      border-radius: 50px 50px 0 0;
      transform: rotate(-45deg);
      transform-origin: 1% 50%;
    }
    #heart1:after {
      left: 310px;
      transform: rotate(45deg);
      transform-origin: 200% 200%;
    }

#heart2 {
      position: relative;
      width: 100px;
      height: 40px;
    
    }
    #heart2:before,
    #heart2:after {
      position: absolute;
      content: "";
      left: 356px;
      top: -399px;
      width: 25px;
      height: 40px;
      background: #7b76ee;
      border-radius: 50px 50px 0 0;
      transform: rotate(-45deg);
      transform-origin: 1% 50%;
    }
    #heart2:after {
      left: 310px;
      transform: rotate(45deg);
      transform-origin: 200% 200%;
    }




#heart3 {
      position: relative;
      width: 100px;
      height: 40px;

    }
    #heart3:before,
    #heart3:after {
      position: absolute;
      content: "";
      left: 356px;
      top: -370px;
      width: 25px;
      height: 40px;
      background: #7b76ee;
      border-radius: 50px 50px 0 0;
      transform: rotate(-45deg);
      transform-origin: 1% 50%;
    }
    #heart3:after {
      left: 310px;
      transform: rotate(45deg);
      transform-origin: 200% 200%;
    }


