/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}


img {
	width: 100%;
    padding-top: 2em;
}


div.container {
    max-width: 75em;
    margin: auto;
    display: grid;
}


body {
    background-color: #1e1e1e;
}

nav{
    max-width: 30em;
}

nav ul{
    padding-left: 3.5em;
}

nav ul li{
    display: inline;
    list-style: none;
    margin-right: 1em;
    font-family: lust, serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.07em;
}

nav ul li a{
    color: #fafafa;
    text-decoration: none;
}

nav ul li a:hover{    
    color: #EDAF14;
}

li{
    list-style: none;
}

h1{
    padding: .1rem 2rem;
    max-width: 30em;
}

h2{
    color: #EDAF14;
    padding: 3rem 2rem 1rem 2rem;
    font-family: lust, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    text-transform: lowercase;
    letter-spacing: .1rem;
}

h4{
    color: #EDAF14;
    font-family: dolly-small-caps-new,sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 1rem 2rem 0rem 2rem;
}

p{
    color: #fafafa;
    font-family: dolly-new, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 1rem 2rem 1rem 2rem;
}

.description{
    font-style:italic;
    padding: .5rem 2rem;
}

.price{
    padding: 0rem 2rem 1.5rem;
}

.home{
    font-size: 1.5rem;
    margin: 2rem 2rem 2rem 2rem;
}

.biggerP{
    font-size: 1.2rem;
}

@media screen and (min-width: 40em){

    main{
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 1rem 0rem;
    }
}
